.App {
display: flex;
}
.counterWrap{
;
border: 2px solid black;
padding: 25px 20px 25px 20px;
    border-radius: 15px;
    border: 3px solid #ac96af;
}


.buttons {
    margin-top: 10px;
    display: flex;
    border: 2px solid #ac96af;
    border-radius: 15px;
}